body {
  background-color: #f8f6fe;
  margin: 0;
  font-family: sans-serif;
  display: block;
  font-family:font-family: 'Changa', sans-serif;
  color:  #878787;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
 
}
.container {
  background-color: white;
  border-radius: 20px;
 
  max-width: 600px;
  margin-top: 50px;
  width: 100%;
  padding-bottom: 30px;

}

ul {
  display: block;
  list-style: none;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500px;
  font-size: 16px;
  padding-left: 0;
  margin-bottom: 20px;
}
ul span {
  color: #f65292;
}

h1 {
  display: block;
  color: #272142;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
 
}

#temp {
  display: flex;
  color: #2c2c2c;
  font-weight: 700;
  font-size: 80px;
  line-height: 48px;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

#degrees {
  
  font-weight: 400;
  font-size: 28px;
  margin-top: -20px;
}
img {
  margin-right: 0px;
}

footer {
  display: block;
  margin: 0 auto;
  text-align: center;
}
li.first-letter{
  text-transform: capitalize;

}
form{
  padding-top: 30px;
}